In [1]:
from cql_queries import song_artist_query, user_song_artist_query, user_song_query
from create_tables import create_or_connect_to_keyspace

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [2]:
# Connect to the database
cluster, session = create_or_connect_to_keyspace()

In [3]:
# Query 1
rows = session.execute(song_artist_query, (338, 4))
for row in rows:
    print(list(row))

['Faithless', 'Music Matters (Mark Knight Dub)', Decimal('495.3073')]

In [4]:
# Query 2
rows = session.execute(user_song_artist_query, (10, 182))
for row in rows:
    print(list(row))

['Down To The Bone', "Keep On Keepin' On", 'Sylvie', 'Cruz']
['Three Drives', 'Greece 2000', 'Sylvie', 'Cruz']
['Sebastien Tellier', 'Kilometer', 'Sylvie', 'Cruz']
['Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Sylvie', 'Cruz']

In [17]:
# Query 3
rows = session.execute("SELECT first_name, last_name FROM user_song WHERE song = 'All Hands Against His Own'")
for row in rows:
    print(list(row))

['Sara', 'Johnson']